.cell_head {
    padding: 10px;
    border: 1px solid black;
}
.mattablestyle {
    border-radius: 5px;
}
.readingsinput {
   outline: none;
   width: 65px;
}
.lowsize {
    width: 80px;
}
.buttonBg {
    border: none;
    background-color: transparent;
}
.enginerow{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headercol{
    width: 250px;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0,0,0,0) !important;
}
.card{
    margin: 10px;
}
.addbutton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.perticularrow {
    border-bottom: 1px solid black;
}
.Bgimage {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/portfolio-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}
.mat-tab-label .mat-tab-label-content {
    opacity: 1 !important;
    color: white !important;
}
.test {
    color: white !important;
}
.mat-select-arrow {
    color: white;
}
.Matbg {
    background-color: white;
    border-radius: 5px;
}
.totaloildisp {
    color: rgb(175, 20, 20);
    padding: 10px;
}