.Bgimage {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/portfolio-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popover {
    position: absolute;
    min-width: 600px;
    height: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.justsupport {
    position: relative;
    overflow-y: scroll;
    
}
.subpoopover {
    display: flex; 
    flex-direction: row;
    margin: 10px; 
    justify-content: space-between; 
    border-bottom: 1px solid black;
    z-index: 10;
}
