<div class="Bgimage">
    <button type="submit" (click)="balance()">modify or check balnce</button>
    <button type="submit" (click)="engineoils()">modify or check engine oils</button>
    <button type="submit" (click)="daysheet()">click for day sheet</button>
    <div class="popover" *ngIf="display">
        <div class="justsupport">
            <input type="text" [(ngModel)]="searchselected">
            <div *ngFor="let item of selected">
                <div class="subpoopover" *ngIf="selectedincludecheck(item['name'])">
                    <div  *ngFor="let col of colselected" >
                        <ng-container *ngIf="col !== 'exist'">
                            <input type="text" [(ngModel)]="item[col]" [disabled]="item['exist']">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div> 
        <div>
            <button type="submit" (click) = "submit()">submit</button>
            <button type="submit" (click) = "close()">Close </button>
            <button type="submit" (click) = "newrecord()">New Record</button>
        </div> 
    </div>
</div>